.content .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF; }
  .content .parallax .para-title {
    font-size: 50px;
    background-color: #23272c;
    padding: 20px 40px;
    border-radius: 5px; }
  .content .parallax .para-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #d3d3d3;
    padding: 20px 80px; }

.content .m-para {
  background-image: url("../images/modern-rest.jpg"); }

.content .menu {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content .menu .m-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 60px;
    align-items: center;
    width: 50%; }
  .content .menu .menu-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px; }
    .content .menu .menu-main .food-title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 5px; }
    .content .menu .menu-main .food-descrip {
      margin-bottom: 15px; }
    .content .menu .menu-main .food-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px; }
      .content .menu .menu-main .food-group .food-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 15px; }
        .content .menu .menu-main .food-group .food-item .food-name {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px; }
        .content .menu .menu-main .food-group .food-item .food-price {
          display: inline; }

.content .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF; }
  .content .parallax .para-title {
    font-size: 50px;
    background-color: #23272c;
    padding: 20px 40px;
    border-radius: 5px; }
  .content .parallax .para-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #d3d3d3;
    padding: 20px 80px; }

.a-para {
  background-image: url("../images/burgerTables.jpg"); }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 30px; }
  .main .header {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px; }
  .main .subtext {
    width: 50%;
    font-size: 18px;
    margin-bottom: 20px; }

.content .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF; }
  .content .parallax .para-title {
    font-size: 50px;
    background-color: #23272c;
    padding: 20px 40px;
    border-radius: 5px; }
  .content .parallax .para-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #d3d3d3;
    padding: 20px 80px; }

.l-para {
  background-image: url("../images/redPillarJoint.jpg"); }

.main .l-header {
  font-size: 30px;
  margin-bottom: 20px; }

.main .maps {
  width: 500px; }

.main .locations-group {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 80px;
  margin-bottom: 50px; }
  .main .locations-group .location {
    display: flex;
    flex-direction: column;
    margin: 15px; }
    .main .locations-group .location .l-title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 3px; }

.main .subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main .subscribe .sub-item {
    margin-bottom: 5px; }
    .main .subscribe .sub-item .submitBtn {
      font-size: 30px;
      margin-top: 15px; }

.content .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF; }
  .content .parallax .para-title {
    font-size: 50px;
    background-color: #23272c;
    padding: 20px 40px;
    border-radius: 5px; }
  .content .parallax .para-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #d3d3d3;
    padding: 20px 80px; }

.c-para {
  background-image: url("../images/good-modern.jpg"); }

.main .c-header {
  font-weight: bold;
  font-style: italic;
  font-size: 18px; }

.main .job-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main .job-form .jobs {
    display: flex;
    flex-direction: column;
    padding: 40px 80px 20px 80px; }
    .main .job-form .jobs .job-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
  .main .job-form .jobs-title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px; }
  .main .job-form .work-text {
    font-style: italic; }
  .main .job-form .jobs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    .main .job-form .jobs-section .w-question {
      font-style: italic; }
    .main .job-form .jobs-section .w-textareas {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px; }
  .main .job-form .avail {
    margin-top: 40px; }
  .main .job-form .avail-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
    .main .job-form .avail-form .job-item {
      margin-right: 15px; }
  .main .job-form .a-question {
    font-style: italic;
    margin-bottom: 20px; }
  .main .job-form .submitbtn {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold; }

.content .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF; }
  .content .parallax .para-title {
    font-size: 50px;
    background-color: #23272c;
    padding: 20px 40px;
    border-radius: 5px; }
  .content .parallax .para-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #d3d3d3;
    padding: 20px 80px; }

.faq-para {
  background-image: url("../images/burger-joint.jpg"); }

.main .faq-header {
  margin-bottom: 70px;
  font-size: 30px; }

.main .question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main .question-list .q-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; }
    .main .question-list .q-item .question-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eeeeee;
      padding: 20px 40px;
      margin-bottom: 20px;
      border-radius: 10px;
      cursor: pointer; }
      .main .question-list .q-item .question-bar .q-question {
        margin-right: 15px; }
    .main .question-list .q-item #answer1, .main .question-list .q-item #answer2 {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px; }
      .main .question-list .q-item #answer1 .q-ans, .main .question-list .q-item #answer2 .q-ans {
        width: 50%;
        margin-bottom: 15px;
        font-style: italic; }

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #23272c;
  z-index: 1;
  top: 0; }
  .navbar .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; }
    .navbar .inner .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      height: 100px;
      padding-right: 100px; }
      .navbar .inner .navigation .fa-hamburger {
        font-size: 30px;
        color: #d3d3d3;
        cursor: pointer; }
      .navbar .inner .navigation .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%; }
        .navbar .inner .navigation .nav .active {
          color: #eeeeee;
          border-bottom: 2px solid #eeeeee; }
        .navbar .inner .navigation .nav a {
          text-decoration: none;
          color: #FFFFFF;
          margin: 10px;
          font-size: 15px;
          margin: 0 10px;
          padding: 0px 10px 10px 10px;
          cursor: pointer; }
        .navbar .inner .navigation .nav a:hover {
          color: #eeeeee;
          border-bottom: 2px solid #eeeeee;
          transition: color 0.3s; }
    .navbar .inner .social {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer; }
      .navbar .inner .social .fa-facebook-square {
        color: #385893;
        margin-right: 10px; }
      .navbar .inner .social .fa-twitter {
        color: #38A1F3; }

.footer {
  width: 100%;
  height: 150px;
  background-color: #eeeeee; }
  .footer .foot-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .foot-inner .company {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer .foot-inner .company .comp-title {
        font-size: 20px;
        margin-bottom: 5px; }

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0 auto;
  padding-top: 100px; }

.quotation {
  font-size: 20px;
  color: #a2a2a2;
  font-weight: bold; }

.content .h-para {
  background-image: url("../images/window-restaur.jpg");
  height: 750px; }

.content .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  height: 300px; }
  .content .home .h-header {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px; }
  .content .home .h-subtext {
    width: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 1.7em; }
  .content .home .menubtn {
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #b19cd9;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 15px; }
