@import "_global";
@import "_parallax";

.c-para {
    background-image: url("../images/good-modern.jpg");
}

.main {

    .c-header {
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
    }
    .job-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .jobs {
            display: flex;
            flex-direction: column;
            padding: 40px 80px 20px 80px;
    
            .job-item {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
        }
        .jobs-title {
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 10px;
        }
        .work-text {
            font-style: italic;
        }
        .jobs-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .w-question {
                font-style: italic;
            }
            .w-textareas {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
            }
        }
        .avail {
            margin-top: 40px;
        }
        .avail-form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            .job-item {
                margin-right: 15px;
            }
        }
        .a-question {
            font-style: italic;
            margin-bottom: 20px;
        }
        .submitbtn {
            margin-top: 40px;
            font-size: 20px;
            font-weight: bold;
        }

    }
}