.footer {
    width: 100%;
    height: 200px;
    background-color: $light-grey;
    margin-top: 50px;

    .foot-inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .company {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .comp-title {
                font-size: 25px;
                margin-bottom: 5px;
            }
        }
    }
}