@import "_global";
@import "_parallax";

.content {

    .m-para {
        background-image: url("../images/modern-rest.jpg");
    }
    .menu {
        margin: 100px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .m-header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: bold;
            font-size: 35px;
            margin-bottom: 60px;
            align-items: center;
            width: 50%;
        }
        .menu-main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px;

            .food-title {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .food-descrip {
                margin-bottom: 15px;
            }
            .food-group {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 80px;

                .food-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 15px;

                    .food-name {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .food-price {
                        display: inline;
                    }
                }
            }
        }
    } 
}
