@import "_global";

.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: $primary;
    z-index: 1;
    top: 0;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            height: 100px;
            padding-right: 100px;

            .fa-hamburger {
                font-size: 30px;
                color: $light-grey;
                cursor: pointer;
            }
            .nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
    
                .active {
                    color: $sup-light-grey;
                    border-bottom: 2px solid $sup-light-grey;
                }
                a {
                    text-decoration: none;
                    color: $font-color;
                    margin: 10px;
                    font-size: 15px;
                    margin: 0 10px;
                    padding: 0px 10px 10px 10px;
                    cursor: pointer;
                }
                a:hover {
                    color: $sup-light-grey;
                    border-bottom: 2px solid $sup-light-grey;
                    transition: color 0.3s;
                }
            }
        }     
        .social {
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        
            .fa-facebook-square {
                color: #385893;
                margin-right: 10px;
            }
            .fa-twitter {
                color: #38A1F3
            }
        }
    }
}