@import "_global";
@import "_menu";
@import "_about";
@import "_locations";
@import "_careers";
@import "_FAQ";
@import "_navbar";
@import "_footer";

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0 auto;
    padding-top: 100px;
    
}

.quotation {
    font-size: 20px;
    color: $dark-grey;
    font-weight: bold;
}

.content {

    .h-para {
        background-image: url("../images/window-restaur.jpg");
        height: 750px;
    }
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
        height: 300px;

        .h-header {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 15px;
        }
        .h-subtext {
            width: 50%;
            font-size: 20px;
            text-align: center;
            line-height: 1.7em;
        }
    }
}